* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #ccc;
}

article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
}

address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
}

h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 40px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
    border: 1px solid black;
    background-repeat: no-repeat, no-repeat;
    background-image: url(top-image.png), url(bottom-image.png), linear-gradient(to bottom, #ccc 0%, #eee 20%, #eee 80%, #ccc 100%);
    background-position: top, bottom;

}

h1 {
    background-image: url(logo.png);
}