
blockquote{
    margin-top:0;
    margin-bottom: 0;
    padding-top:0;
    padding-bottom: 0;
}
p{
    font-size: 18px;
}
#container{
    margin:auto;
    width:720px;
}
#address{
    text-align: right;;
}
