*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    margin:0;
    color:#000;
    font-family:sans-serif;
    font-size:20px;
    min-width: 540px;
}

h2,h3{
    text-align: center;
    padding:5px;
}

p{
    text-indent: 1cm;
    text-align: left;
    padding:5px;
}

.container{
    background-color:#EEE;
    margin:auto;
    max-width: 1080px;
    text-align: center;   
}

#menubar{
   
    /*border-bottom:2px #EEE solid;*/
    margin:auto;
    top:0;
    left:0;
    right:0;
    margin:auto;
    position:fixed;
    max-width: 1080px;
    background-color: #333;
    color:white;
    padding:10px;
    text-align: center;
    box-sizing:border-box;
    min-width: 540px;
}

#logo{
    color:white;
    text-decoration: none;
    padding:0px 0px 10px 50px;
    width:20%;
    font-size:40px;
    float:left;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#navbar {
    position: relative;
    text-align:right;
    padding:0;
    padding-top:18px;
    float:right;
    background-color:#333;   
    width:70%;
}
#navbar li{
    display: inline;
    padding-right:50px;
    font-size:24px;
}
#navbar a{
    color:white;
    text-decoration: none;
}
#navbar a:hover{
    color:#000;
}

#showcase{
    margin-top:85px;
    background-image: url("../img/showcase.jpg");
    text-align: center;
    margin-bottom: 20px;
}

#main-title{
    padding-top:10px;
    font-size:56px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#welcome{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    font-size: 32px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#mainbox{
    display: inline-block;
    width:90%;
    border:#333 solid;
    border-radius: 1em;
    margin:20px 10px;
}

.box{
    padding:0 20px;
    display: block;
    float: left;
    width:33.3%;
    box-sizing:border-box;
}
#longtext{
    display: inline-block;
    margin-top:10px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

#footer{
    display: inline-block;
    width:100%;
    color:#333;
    margin:0;
    padding:20px;
    text-align: center;
    background-color: #333;
    color:#fff;
    box-sizing: border-box;
}

#blogTitle{
    margin-top:80px;
    padding:10px;
    box-sizing: border-box;
   
}
#blogTitle h1{
    padding-left:10px;
    font-size:36px;
    float:left;
}
.button{
    pointer-events: fill;
    border-radius: 5px;
    background-color:#333;
    color:white;
    text-decoration: none;
    padding:5px 10px;
    
}
.button:hover{
    background-color: red;
}

#blogTitle .button{
    float:right;
}


#sidebar{
    margin-top:70px;
    padding-top:15px;
    float:left;
    width:17%;
   
    box-sizing: border-box;

}

.tag{
    display:block;
    color:black;
    text-decoration: none;
    padding:5px 5px 5px 10px;
    text-align:center;
}
.tag:hover{
    background-color:#DDD;
    border-left:#000 solid 2px;
}
#main-box{
    margin-top:0px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
    border-style: none;
    border-left:2px #333 solid;
    width:83%;
    float:right;
    
}
.blogBox{
    float:right;
    width:98%;
    padding:10px;
    margin:5px;
    margin-right:10px;
    border:#333 solid;
    border-radius: 10px;;
}
.blogBox h3{
    padding: 0px;
    font-size:24px;
}
.blogBox .button{
    font-size:12px;
    float:left;
    padding:3px 6px;
    margin:0 10px;

}

#submitBox{
    margin:auto;
    margin-top:88px;
    width:50%;
    text-align: left;;
    padding:20px 0;
}

#submitBox input{  
    width:100%;
    height:20px;
    display: block;
    padding:10px 0;
}
#submitBox .button{
    display: grid;
    text-align: center;
    width:100px;
    margin:auto;
    margin-top:20px;
}
#submitBox #blogContent{
    width:100%;
    height:80px;
}

#aboutBox{
    
    width:60%;
    margin:auto;
    margin-top:85px;
}
#aboutBox h1{
    font-size:36px;
    padding:10px;
}
@media(max-width:1080px){
    .container{
        width:100%;
    }
}
@media(max-width:750px){
	.box{
		width:100%;
		float:none;
    }
    #logo
    {
        padding:0;
        float:none;
        margin:auto;
        
    }
    #navbar{
        padding-left:0;
        float:none;
        width:100%;
        text-align:center;
        margin:auto;
    }
    #navbar li{
        padding-left:25px;
        padding-right:25px;
    }
    #showcase{
        margin-top:120px;
    }
    #welcome{
        width:100%;
    }
    #header{
        width:100%;
      
    }
    #blogTitle{
        margin-top:115px;
    }
    #sidebar{
        margin-top:105px;
    }
    #submitBox{
        margin-top:115px;
        width:80%;
    }
    #aboutBox{
        width:80%;
        margin-top:115px;
    }
}
   



@media(max-width:600px){
    #blogTitle{
        margin-top:50px;
        width:100%;
    }
    #sidebar{
        display:none;
    }
    .blogBox{
        display: inline-block;
        float:none;
        margin:5px 0;
        width:100%;
    }
    #main-box{
        margin:auto;
        margin-top:120px;
        width:96%;
        float:none;
        
        border-style: none;
    }
    #footer{
        width:105%;
    }
}
